.custom-toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* transform: translate(-50%, 100%); */
  font-family: Arial, sans-serif;
}

.custom-toast.show {
  opacity: 1;
  transform: translateX(-50%);
}

.custom-toast.error {
  background-color: rgba(220, 53, 69, 0.9);
}
